SERVER_HOST=http://localhost:5000
CLIENT_HOST=http://localhost:5173
PORT=5000

DB_HOST=localhost
DB_USER=root
DB_NAME=bounce
DB_PASSWORD=

ACCESS_TOKEN=your_secure_access_token
REFRESH_TOKEN=your_secure_refresh_token
REDIS_USERNAME=default
REDIS_PASSWORD=
REDIS_HOST=127.0.0.1
REDIS_PORT=6379

SMTP_HOST=smtp.gmail.com
SMTP_PORT=
SMTP_USER=
SMTP_PASSWORD=

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=